/* This is the menuItem class, which will be used for a two column menu */
.item 
{
    float: left;
    text-align: left;
    padding-left: 8%;
    width: 40%;
    height: 30%;
}

/* This is for the different subtypes of items on the menu*/
.flavor
{
    float: left;
    text-align: left;
    font-size: medium;
    width: auto;
    height: auto;
    padding-right: 10%;
    padding-bottom: 5%;
}

.price 
{
    float: right;
    padding-right: 5%;
}