.foodMenuContainer
{
    background-color: black;
}

/* This is the menuItem class, which will be used for a two column menu */
.item 
{
    float: left;
    text-align: left;
    padding-left: 8%;
    padding-bottom: 2%;
    width: 40%;
    height: 30%;
    color: white;
}

.name
{
    border-bottom: solid black;
}

/* This is for the different subtypes of items on the menu*/
.flavor
{
    float: left;
    text-align: left;
    font-size: medium;
    width: auto;
    height: auto;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
    color:rgb(245, 206, 135)

}

.price 
{
    float: right;
    padding-right: 5%;
    clear: both;
    border-bottom: solid black ;
}
 
.dottedLine
{
    font-size: medium;
    border-bottom: 2px dotted rgb(241, 174, 49);
    width: 100%;
}