<h1>New Menu Item</h1>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <h3>Flavors</h3>
            <div><button class="flavor-add-button" mat-button>
                <mat-icon>add</mat-icon>
            </button></div>
        </div>