<h1>{{ title }}</h1>
<form [formGroup]="addMenuItem" (ngSubmit)="onSubmit(beingEdited)">
    
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>name</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input formControlName="price" type="number" matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <div *ngIf="menuItem"><app-item-flavor [itemFlavors]=itemFlavors [menuItemId]=menuItem.id></app-item-flavor></div>
            <div *ngIf="menuItem == undefined"><app-item-flavor></app-item-flavor></div>

            
        </div>
        
        <div class="save-button">
            <button class="flavors change-button" type="submit">Submit</button>
        </div>
</form>