.flavors {
    background-color: rgb(255, 255, 255, .1);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom:10px; 
}

.flavor-delete {
    font-size: .75;
    padding: 0 5px;
}

.flavor-delete:hover {
    color: #93c841;
}

.flavor-add {
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.flavor-add:hover {
    background: #93c841;
}

.save-button {
    position:relative;
    margin-top:0;
    padding-bottom: 10px;
}
.save-button {
    position:relative;
    text-align: center;
}

.save-button > a {
    padding: 10px 15px;
    background-color: #93c841;
}

.save-button > a:hover {
    background-color: rgb(255, 255, 255, .1);
}