
<div class="admin-container">
    <h1>Admin Area</h1>
    <ng-container *ngFor="let item of menuItems">
        <div class="menu-item">
            <div *ngIf=!edit>
                <div class="item-name">{{ item.name }}</div> <button (click)="editItem(item.name)">edit</button>
                <div class="menu-description">{{ item.description }}</div>
                <div class="item-price">${{ item.price }}</div>
                <div *ngFor="let flavor of item.flavors">{{ flavor.Name }}</div>
            </div>
            <div *ngIf=edit>
                <app-add-item></app-add-item>
            </div>
        </div>
    </ng-container>
    <div class="menu-item">
        <app-add-item></app-add-item>

    </div>
</div>