.admin-container {
    max-width: 80%;
    margin: auto
}

h1 {
    text-align: center;
}

.menu-item {
    padding: 10px;
    background: #7c7c7c;
    max-width: 50%;
    margin: 10px;
    border-radius: 10px;
}

.flavor-add-button {
    background-color: #9c9c9c;
    transform: scale(.75);

}

.flavor-add-button mat-icon {
    transform: scale();
}