<h3>Flavors</h3>
            <div class="flavors" *ngFor="let flavor of flavors" >{{ flavor.Name }} <fa-icon (click)="removeFlavor(flavor.id)"class="flavor-delete" [icon]="faTrashAlt"></fa-icon></div>
            <div>
                <div class="flavors flavor-add" *ngIf="!addingFlavor">
                    <a>
                        <fa-icon (click)="addFlavor()" [icon]="faPlus"></fa-icon>
                    </a>
                </div>
                    <div *ngIf="addingFlavor">
                        <form [formGroup]="addFlavorForm" (ngSubmit)="submitFlavor(flavor)">
                            <div class="form-field">
                                <mat-form-field appearance="standard">
                                    <mat-label>Flavor</mat-label>
                                    <input formControlName="flavor" matInput>
                                </mat-form-field>
                                <button class="save-button" type="submit"><fa-icon class="flavor-save" [icon]="faSave"></fa-icon></button>
                            </div>
                        </form>
                    </div>
            </div>