<!--<p>Test Again. Menu Works!</p>-->

<!DOCTYPE html>
<html>
    <body>
        <!-- This is a basic html layout of the food menu-->
        <div class = "header">
            <h1> Food </h1>
        </div>
        
        <div class = "menuItemList">
            <div class = "menuItem">
                <p><b> Breakfast Sandwich </b></p>
                    <div class = "itemSubtype"> Sausage, Egg, & Cheese </div>
                    <div class = "itemSubtype"> Bacon, Egg, & Cheese </div>
            </div>
            <div class = "menuItem">
                <p><b> Cookie </b></p>
                    <div class = "itemSubtype"> Breakfast Cookie </div>
                    <div class = "itemSubtype"> Double Chocolate </div>
                    <div class = "itemSubtype"> M&M </div>
                    <div class = "itemSubtype"> Chocolate Chip </div>
                    <div class = "itemSubtype"> Reese's Cup </div>
                    <div class = "itemSubtype"> Sugar </div>
                    <div class = "itemSubtype"> Oatmeal </div>
            </div>
            <div class = "menuItem">
                <p><b>Breakfast Burrito </b></p>
                    <div class = "itemSubtype"> Egg & Cheese </div>
            </div>
            <div class = "menuItem">
                <p><b> Scone </b></p>
                    <div class = "itemSubtype"> Blueberry </div>
                    <div class = "itemSubtype"> Cranberry </div>
            </div>
            <div class = "menuItem">
                <p><b> Omelet </b></p>
                    <div class = itemSubtype> Egg, Potato, & Cheese </div>
            </div>
            <div class = "menuItem">
                <p><b> Muffin </b></p>
                    <div class = "itemSubtype"> Double Chocolate Chip </div>
                    <div class = "itemSubtype"> Apple Pecan </div>
                    <div class = "itemSubtype"> Lemon Cranberry </div>
                    <div class = "itemSubtype"> Blueberry </div>
            </div>
            <div class = "menuItem">
                <p><b> Cheese Box </b></p>
                    <div class = "itemSubtype"> Cheese Cubes, Grapes, & Crackers </div>
            </div>
            <div class = "menuItem">
                <p><b> Donut </b></p>
                    <div class = "itemSubtype"> Glazed </div>
                    <div class = "itemSubtype"> Cream Stick </div>
            </div>
        </div>
    </body>
</html>
